@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg-rgb: 0, 0, 0;
  --bg-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-rgb: 255, 255, 255;
    --bg-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--fg-rgb));
  background: rgb(var(--bg-rgb));
}
